.container{
  font-family: 'Source Sans Pro', sans-serif;
}
.body{
  max-width: 100% !important;
  overflow-x: hidden !important;
  margin:unset;
}
/******************seccion header*******************/
.headercontainer {
  background-color: #918de4;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding: 2%;
}
.header{
  display: flex;
  flex-direction: row;
}

.hola:hover{
  color:#ffc4ff;
}
.conocimientos:hover{
  color:#ffc4ff;
}
.proyectos:hover{
  color:#ffc4ff;
}
.contactos:hover{
  color:#ffc4ff;
}

/*media queri header*/
@media (max-width: 600px) {
  .headercontainer {
    display: none;
  }
}
/********************seccion hero*******************/
.hero {
  display: flex;
  flex-direction: row;
 justify-content: center;
 align-items: center;
}
.heroizquierda {
  text-align: left;
  margin: 5%;
  padding: 5%;
}

h3 {
  font-weight: bolder;
  color: rgb(53, 52, 52);
  font-size: 25px;
}
h1 {
  font-weight: bolder;
  color: #6c63ff;
  font-size: 50px;
}
.botonloquehago {
  background-color: #6c63ff;
  border-radius: 10px;
  text-align: center;
  height: 30px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.botonloquehago:hover{
  color:#4741be;
  background-color:#ba68c8;
}
span {
  color: white;
}

.heroderecha{
  display: flex;
  align-self: center;
  align-content: stretch;
}
img {
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
  color: rgb(53, 52, 52);
  text-align: center;
  align-items: center;
  padding: 10px;
}
/*media queri hero*/
@media (max-width: 600px) {
  .hero {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
  }
}

/**********************seccion conocimientos********************/
.conocimientosuno {
  display: flex;
  justify-content: center;
  color: rgb(53, 52, 52);
  font-size: 20px;
  text-align: center;
  width: 40%;
  margin-left: 30%;
}

h2 {
  font-weight: bolder;
  color: rgb(53, 52, 52);
  font-size: 30px;
  text-align: center;
}
.conocimientosdos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.html5,
.css3,
.sass,
.javaScrip,
.reac,
.git {
  border-radius: 10px;
  width: 250px;
  height: 200px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: black;
  font-size: 100px;
  border-style:outset;  
}

.html5:hover{ 
  color:#6c63ff;
  border-color:#6c63ff;
}
.css3:hover{ 
  color:#6c63ff;
  border-color:#6c63ff;
}
.sass:hover{ 
  color:#6c63ff;
  border-color:#6c63ff;
}
.javaScrip:hover{ 
  color:#6c63ff;
  border-color:#6c63ff;
}
.reac:hover{ 
  color:#6c63ff;
  border-color:#6c63ff;
}
.git:hover{ 
  color:#6c63ff;
  border-color:#6c63ff;
}

.textoconocimientos {
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}
/*media queri conocimientos*/
@media (max-width: 600px){
  .conocimientosuno{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 600px){
  .conocimientosdos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
/********************seccion cita************************/
.cita {
  background-color: #6c63ff;
  height: 20%;
}
.caracter {
  font-size: 100px;
  text-align: center;
  margin-bottom: -10px;
  text-align: center;
  color: rgb(53, 52, 52);
}

.citauno {
  font-size: 30px;
  text-align: center;
  color: whitesmoke;
  margin: 10px;
}
.cite {
  text-align: center;
  font-size: 20px;
  margin: 10px;
  padding: 30px;
  text-align: center;
  color: rgb(53, 52, 52);
  font-weight: bold;
}
/*seccion media queri cita*/

@media (max-width: 600px) {
  .cita {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}
/*************************proyectos********************************/
.proyectosuno {
  color: rgb(53, 52, 52);
  font-size: 20px;
  text-align: center;
  width: 40%;
  margin-left: 30%;
  margin-bottom: 5%;
}

.proyectoscontenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.porfolio, .memes, .match, .gastos, .administrador, .app, .peliculas{
  height: 300px;
  width: 300px;
  margin: 15px;
  border-style:outset; 
  border-radius: 10px;
  text-align: center;
}
.porfolio:hover{
  color:#6c63ff;
  border-color:#6c63ff;
}
.memes:hover{
  color:#6c63ff;
  border-color:#6c63ff;
}
.match:hover{
  color:#6c63ff;
  border-color:#6c63ff;
}
.gastos:hover{
  color:#6c63ff;
  border-color:#6c63ff;
}
.administrador:hover{
  color:#6c63ff;
  border-color:#6c63ff;
}
.app:hover{
  color:#6c63ff;
  border-color:#6c63ff;
}
.peliculas:hover{
  color:#6c63ff;
  border-color:#6c63ff;
}
.imagen {
  margin-left: 3px; 
  width: 100%;
  height: 100%;
}
/***************************seccion contactos**************************/

.contacto{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  margin-top: 30px;
}

.contacto h2{
  text-align: left;
  margin-left: 3%;
}


.icono1, .icono2, .icono3, .icono4{
  padding: 2%;
}
.icono1:hover{
  color:#ba68c8;
}
.icono2:hover{
  color:#ba68c8;
}
.icono3:hover{
  color:#ba68c8;
}
.icono4:hover{
  color:#ba68c8;
}

i{
  color:#6c63ff;
}

.contactameuno {
  color: rgb(53, 52, 52);
  font-size: 20px;
  text-align: left;
  margin-left: 3%;
  width: 300px;
}

.escribime{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}
.escribime h2{
  margin-bottom: -30%;
  text-align: left;
  margin-right: 170px;
  
}
.nombre{
  margin-top: 25%;
  margin-left: 5%;
}
.apellido, .email, .telefono{
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 5%;
}
.nombre input, .apellido input {
  background-color: #ffc4ff;
  font-size: 15px;
  border-radius: 10px;
  height: 30px;
  width: 200px;
  border: none;
}
.email input, .telefono input{
  background-color: #ba68c8 ;
  font-size: 15px;
  border-radius: 10px;
  height: 30px;
  width: 200px;
  border: none;
}
.mensaje{
  margin-bottom: 10px;
  margin-left: 15px;
}
.mensaje input{
  height: 100px;
  width: 300px;
  background-color: #a39ff1;
  border-radius: 10px;
  font-size: 15px;
  border: none;
}
::placeholder{
  color: #4741be;
}

.button{
  margin-left: 3%;
}
button{
  color: whitesmoke;
  font-size: 25px;
  background-color: #6c63ff;
  border-radius: 25px;
  height: 50px;
  width: 150px;
  border-color: white;
}
/*media queri contactos*/
@media (max-width 600px) {
  .contacto {
  display: flex;
  flex-wrap: wrap;
  }
  
}
/*********************************footer***********************/
.contenedorfooter{
  background-color: #6c63ff;
  height: 150px;
  margin-top: 5px;
  text-align: center;
}
.redes i{
  background-color: white;
  border-radius: 60px;
  font-size: 20px;
  text-align: center;
  margin: 10px;
  padding: 10px;
}
.footer p{
  color:rgb(53, 52, 52);
  margin-right: 15px;
  margin-bottom: unset;
}
/*seccion media queri footer*/
@media (max-width: 600px){
  .nav {
    display: flex;
    justify-content: center;

  }
}
