body {
  max-width: 100% !important;
  overflow-x: hidden !important;
  margin: unset;
  font-family: "Source Sans Pro", sans-serif;
}

/******************seccion header*******************/
.header-container {
  background-color: #918de4;
  display: flex;
  justify-content: flex-end;  
  padding: 2%;
}

.header {
  display: flex;
}

.nav-item:hover {
  color: #ffc4ff;
}

/*media queri header*/
@media (max-width: 480px) {
  .header-container {
    display: none;
  }
}
/********************seccion hero*******************/
.hero {
  display: flex;
}
.hero-izquierda {
  margin: 5%;
  padding: 5%;
}

h3 {
  font-weight: bolder;
  color: rgb(53, 52, 52);
  font-size: 25px;
}
h1 {
  font-weight: bolder;
  color: #6c63ff;
  font-size: 50px;
}

span {
  color: white;
}

.hero-derecha {
  display: flex;
  align-self: center;
}
img {
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
  color: rgb(53, 52, 52);
  padding: 10px;
}
/*media queri hero*/
@media (max-width: 480px) {
  .hero {
    display: flex;
    flex-wrap: wrap;
  }
}
@media  (min-width: 481px) and (max-width: 900px) {
  .hero {
    display: flex;
    flex-wrap: wrap;
  }
}

/**********************seccion conocimientos********************/
.conocimientos-uno {
  display: flex;
  color: rgb(53, 52, 52);
  font-size: 20px;
  text-align: center;
  width: 40%;
  margin-left: 30%;
}

h2 {
  font-weight: bolder;
  color: rgb(53, 52, 52);
  font-size: 30px;
  text-align: center;
}
.conocimientos-dos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.iconos-conocimientos {
  border-radius: 10px;
  width: 250px;
  height: 200px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  font-size: 100px;
  border-style: outset;
}

.iconos-conocimientos:hover {
  color: #6c63ff;
  border-color: #6c63ff;
}

.texto-conocimientos {
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}
/*media queri conocimientos*/
@media (max-width: 480px) {
  .conocimientos-uno {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media  (min-width: 481px) and (max-width: 900px) {
  .conocimientos-uno {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}



@media (max-width: 480px)  {
  .conocimientos-dos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media  (min-width: 481px) and (max-width: 900px) {
  .conocimientos-dos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
/********************seccion cita************************/
.cita {
  background-color: #6c63ff;
  height: 20%;
}

.caracter {
  font-size: 100px;
  margin-bottom: -10px;
  text-align: center;
  color: rgb(53, 52, 52);
}

.cita-uno {
  font-size: 30px;
  text-align: center;
  color: whitesmoke;
  margin: 10px;
}

.cite {
  text-align: center;
  font-size: 20px;
  padding: 30px;
  color: rgb(53, 52, 52);
  font-weight: bold;
}

/*seccion media queri cita*/

@media (max-width: 480px) {
  .cita {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}

@media  (min-width: 481px) and (max-width: 900px) {
  .cita {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}
/*************************proyectos********************************/
.proyectos-uno {
  color: rgb(53, 52, 52);
  font-size: 20px;
  text-align: center;
  width: 40%;
  margin-left: 30%;
  margin-bottom: 5%;
}

.proyectos-dos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.proyecto-tres {
  height: 300px;
  width: 300px;
  margin: 15px;
  border-style: outset;
  border-radius: 10px;
}
.proyecto-tres a{
  display: flex;
  justify-content: center;
}
.proyecto-tres:hover {
  color: #6c63ff;
  border-color: #6c63ff;
}

.imagen {
  margin-left: 3px;
  width: 220px;
  height: 167px;
}


/***************************seccion contactos**************************/

.contacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.contacto h2 {
  text-align: left;
  margin-left: 3%;
}

.icono {
  margin: 2%;
  padding: 2%;
}

.icono:hover {
  color: #ba68c8;
}

i {
  color: #6c63ff;
}

.contactame-uno {
  color: rgb(53, 52, 52);
  font-size: 20px;
  margin-left: 3%;
  width: 300px;
}

.escribime {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}

.escribime h2 {
  margin-bottom: -30%;
  margin-right: 170px;
}

.nombre {
  margin-top: 25%;
  margin-left: 5%;
}

.apellido,
.email,
.telefono {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 5%;
}

.nombre input,
.apellido input {
  background-color: #a491ff;
  font-size: 15px;
  border-radius: 10px;
  height: 30px;
  width: 200px;
  border: none;
  padding: 10px;
}

.email input,
.telefono input {
  background-color: #6c63ff;
  font-size: 15px;
  border-radius: 10px;
  height: 30px;
  width: 200px;
  border: none;
  padding: 10px;
}

.mensaje {
  margin-bottom: 10px;
  margin-left: 15px;
}

.mensaje input {
  height: 100px;
  width: 300px;
  background-color: #2838cb;
  border-radius: 10px;
  font-size: 15px;
  border: none;
  padding: 10px;
}

::placeholder {
  color: whitesmoke;
}

.boton{
  color: whitesmoke;
  font-size: 25px;
  background-color: #6c63ff;
  border-radius: 25px;
  height: 50px;
  width: 200px;
  border-color: white;
  margin-left: 3%;
  display: flex;
  justify-content: center;
}
button {
  color: whitesmoke;
  font-size: 25px;
  background-color: #6c63ff;
  border-radius: 25px;
  height: 50px;
  width: 200px;
  border-color: white;
  cursor: pointer;
}
.boton:hover {
  background-color: #ba68c8;
}
button:hover {
  background-color: #ba68c8;
}
/*media queri contactos*/
@media (max-width: 480px) {
  .contacto {
    display: flex;
    flex-wrap: wrap;
  }
}

@media  (min-width: 481px) and (max-width: 900px) {
  .contacto {
    display: flex;
    flex-wrap: wrap;
  }
}

/*********************************footer***********************/

.contenedor-footer {
  background-color: #6c63ff;
  height: 150px;
  margin-top: 5px;
  text-align: center;
}
.redes i {
  background-color: white;
  border-radius: 60px;
  font-size: 20px;
  text-align: center;
  margin: 10px;
  padding: 10px;
}
.redes a{
    text-decoration: none;
    color: rgb(53, 52, 52);
    margin: 5px;
}
.footer p {
  color: rgb(53, 52, 52);
  margin-right: 15px;
  margin-bottom: unset;
}

/*seccion media queri footer*/
@media (max-width: 480px) {
  .nav {
    display: flex;
    justify-content: center;
  }
}
@media  (min-width: 481px) and (max-width: 900px)  {
  .nav {
    display: flex;
    justify-content: center;
  }
}